*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
*.keystore
.kotlin/
build_log.txt
build_output.txt
clean_build.txt
error_lines.txt
remote_hash.txt
__build_log.txt
o.html
